* {
    font-family: Roboto;
    font-size: 12px;
}

/* --- header --- */

header {
    background-color: #EAC926;
}

.logo {    
    width: 131px;
    padding-top: 10px;
    padding-left: 20px;
}

.sales {
    text-align: center;
}

header ul {
    list-style: none;
    padding-left: 0px;
    display: none;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #03264C;
    color: white;
    width: 15px;
    height: 15px;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 13px;
}

/* --- main --- */

main {
    padding: auto;
    margin: auto;
    background-color: #ebebeb;
}

ul i {
    font-size: 1em;
}

img {
    width: 100%;
}

article {
    margin: 10px;
    background-color: white;
    
}

.article-content {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

/* --- footer --- */

footer section {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

section i {
    font-size: 2em
}

/* --- querys --- */

/* --- Tablets --- */

@media (min-width: 360px) {
    
    header ul {
        display: block;
    }

    .burger-menu i {
        display: none;
    }
}
/* --- Laptop --- */

@media (min-width: 768px){
    
    header ul {
        display: block;
    }

    .burger-menu i {
        display: none;
    }

}