* {
    font-family: Roboto;
    font-size: 12px;
}

/* --- header --- */

header {
    background-color: #EAC926;
}

header ul {
    list-style: none;
}

.burger-menu i {
    background-color: #03264C;
    color: white;
    width: 15px;
    height: 15px;
}

/* --- main --- */

main {
    padding: auto;
    margin: auto;
    background-color: #ebebeb;
}

ul i {
    font-size: 1em;
}

img {
    width: 100%;
}

article {
    margin: 10px;
    background-color: white;
    
}

.article-content {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

/* --- footer --- */

footer section {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

section i {
    font-size: 2em
}

/* --- querys --- */

/* --- Tablets --- */

@media (min-width: 360px) {
    * {
        background-color: blue;
    }
}
/* --- Laptop --- */

@media (min-width: 768px){
    * {
        background-color: aqua;
    }
    }